{{#> modal name="test-modal-2"}}
<h2>Тестовая модалка 2</h2>

<p>
	Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
	тексты. Предупреждал, мир власти инициал речью раз, возвращайся родного
	текстами они имеет, выйти алфавит? Рыбными снова великий вскоре знаках, о
	ручеек.
</p>

{{/modal}}
