<ul class="filter-list {{#if listClass}}{{listClass}}{{/if}}">
	<li
		class="filter-list__item"
		title="Удалить"
	>
		<span class="filter-list__tag">Фильтр 01</span>
	</li>
	<li
		class="filter-list__item"
		title="Удалить"
	>
		<span class="filter-list__tag">Фильтр намбер Ту</span>
	</li>
	<li
		class="filter-list__item"
		title="Удалить"
	>
		<span class="filter-list__tag">Фильтр 03</span>
	</li>
	<li
		class="filter-list__item"
		title="Удалить"
	>
		<span class="filter-list__tag">Фильтр 04</span>
	</li>
	<li
		class="filter-list__item"
		title="Удалить"
	>
		<span class="filter-list__tag">Фильтр 05</span>
	</li>
	<li
		class="filter-list__item"
		title="Удалить"
	>
		<span class="filter-list__tag">Фильтр 06</span>
	</li>
	<li
		class="filter-list__item"
		title="Удалить"
	>
		<span class="filter-list__tag --clear-all">Очистить все</span>
	</li>
</ul>
