<section class="test">
	<div class="test__background">
		<img
			loading="lazy"
			src="/assets/images/back.jpg"
			alt=""
		>
	</div>
	{{#> title-section}}TEST-PAGE {{/title-section}}
	<div x-data="{ open: false }">
		<button
			class="skeleton"
			@click="open = !open"
			:class="open ? '--red' : '--blue'"
			x-text="open ? 'Закрыть' : 'Открыть'"
		>
			Открыть
		</button>

		<button data-modal="test-modal">Открыть модальное окно</button>
		<button data-modal="test-modal-2">Открыть модальное окно 2</button>

		{{> test-modal}}
		{{> test-modal-2}}

		<div
			class="test__tab"
			x-show="open"
			x-transition.duration.350ms
		>
			Далеко-далеко за словесными горами в стране гласных и согласных живут
			рыбные тексты. Подпоясал, составитель дал назад текстов курсивных однажды,
			прямо большой по всей великий грустный то одна не! Заглавных первую
			рукопись ручеек повстречался.
		</div>
	</div>

	<div
		x-data="{counter: 0}"
		class="test__counter"
	>
		<button x-on:click="counter++">+</button>
		<span x-text="counter"></span>
		<button x-on:click="counter !== 0 ? counter-- : counter = 0 ">-</button>
	</div>

	<div
		class="skeleton"
		x-data="{ search: '' }"
	>
		<input
			type="text"
			x-model="search"
		/>

		Searching for:
		<span x-text="search"></span>
	</div>

	<ul
		class="test__list"
		x-data="{ colors:
   ['Red', 
   'Orange', 
   'Yellow'] }"
	>
		<template x-for="color in colors">
			<li x-text="color"></li>
		</template>
	</ul>

	<picture class="test__picture skeleton">
		<source srcet="./assets/images/hero/01.webp" />
		<img
			loading="lazy"
			src="./assets/images/hero/01.jpg"
			alt=""
		/>
	</picture>

	<ul
		x-data="{cards: [{title: 'Заголовок'},
		{title: 'Заголовок 2'}, 
		{title: 'Заголовок 3'}]}"
		class="test__card-list"
	>
		<template x-for="card in cards">
			<li class="test__card-item">
				<a
					href="#"
					class="test__card"
				>
					<div class="test__card-picture skeleton">
						<picture>
							<source srcet="./assets/images/hero/01.webp" />
							<img
								loading="lazy"
								class="lazy"
								src="./assets/images/hero/01.jpg"
								alt=""
							/>
						</picture>
					</div>

					<h2
						x-text="card.title"
						class="skeleton"
					></h2>

					<p class="skeleton">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. At
						consequatur illum unde voluptas laudantium, expedita placeat
						repellat asperiores? Commodi facere eligendi vel fugiat error
						assumenda esse quaerat, quasi blanditiis sed.
					</p>
				</a>
			</li>
		</template>
	</ul>

	<p style="color: red">
		<svg>
			<use xlink:href="#logo"></use>
		</svg>
	</p>

	<p style="color: red">
		<svg>
			<use xlink:href="#diplomat"></use>
		</svg>
	</p>

	<h2>йоу</h2>

	<span class="triangle"></span>
	<br />
	<div class="square"></div>

	<div class="test-contents">
		<ul class="test-contents__list">
			<li class="test-contents__item">Тест</li>
			<li class="test-contents__item">Тест</li>
			<li class="test-contents__item">Тест</li>
			<li class="test-contents__item">Тест</li>
		</ul>
		<div class="test-contents__logo">
			<svg>
				<use xlink:href="#eye"></use>
			</svg>
		</div>
	</div>
</section>
