<section class="test">
	{{#> title-section}}TEST-PAGE {{/title-section}}
	<div x-data="{ open: false }">
		<button
			class="skeleton"
			@click="open = !open"
			:class="open ? '--red' : '--blue'"
			x-text="open ? 'Закрыть' : 'Открыть'"
		>
			Открыть
		</button>

		<button data-open-modal="test-modal">Открыть модальное окно</button>
		<button data-open-modal="test-modal-2">Открыть модальное окно 2</button>

		{{> test-modal}}
		{{> test-modal-2}}

		<div class="test__tab" x-show="open" x-transition.duration.350ms>
			Далеко-далеко за словесными горами в стране гласных и согласных живут
			рыбные тексты. Подпоясал, составитель дал назад текстов курсивных однажды,
			прямо большой по всей великий грустный то одна не! Заглавных первую
			рукопись ручеек повстречался.
		</div>
	</div>

	<div x-data="{counter: 0}" class="test__counter">
		<button x-on:click="counter++">+</button>
		<span x-text="counter"></span>
		<button x-on:click="counter !== 0 ? counter-- : counter = 0 ">-</button>
	</div>

	<div class="skeleton" x-data="{ search: '' }">
		<input type="text" x-model="search" />

		Searching for:
		<span x-text="search"></span>
	</div>

	<ul
		class="test__list"
		x-data="{ colors:
   ['Red', 
   'Orange', 
   'Yellow'] }"
	>
		<template x-for="color in colors">
			<li x-text="color"></li>
		</template>
	</ul>

{{!-- 	<div class="test__picture skeleton">
		<img loading="lazy" class="lazy" src="./assets/images/02.png" alt="" />
	</div> --}}

	<picture class="test__picture skeleton">
		<source srcet="./assets/images/hero/01.webp" />
		<img loading="lazy" src="./assets/images/hero/01.jpg" alt="" />
	</picture>

	<ul class="test__card-list">
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?00"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?01"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?02"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?03"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?04"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?05"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?06"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?07"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?08"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?09"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?10"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?11"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/hero/01.jpg?12"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
		<li class="test__card-item">
			<a href="#" class="test__card">
				<div class="test__card-picture skeleton">
					<img
						loading="lazy"
						class="lazy"
						src="./assets/images/04.webp"
						alt=""
					/>
				</div>

				<h2 class="skeleton">Каккой-то заголовок</h2>

				<p class="skeleton">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. At
					consequatur illum unde voluptas laudantium, expedita placeat repellat
					asperiores? Commodi facere eligendi vel fugiat error assumenda esse
					quaerat, quasi blanditiis sed.
				</p>
			</a>
		</li>
	</ul>

	<p style="color: red">
		<svg>
			<use xlink:href="#logo"></use>
		</svg>
	</p>

	<p style="color: red">
		<svg>
			<use xlink:href="#diplomat"></use>
		</svg>
	</p>

	<h2>йоу</h2>

	<span class="triangle"></span>
</section>
