<section class="test">
	<div class="test__background">
		<img
			loading="lazy"
			src="/assets/images/back.jpg"
			alt=""
		>
	</div>
	{{#> title-section}}TEST-PAGE {{/title-section}}
	<div x-data="{ open: false }">
		<button
			class="skeleton"
			@click="open = !open"
			:class="open ? '--red' : '--blue'"
			x-text="open ? 'Закрыть' : 'Открыть'"
		>
			Открыть
		</button>

		<button data-modal="test-modal">Открыть модальное окно</button>
		<button data-modal="test-modal-2">Открыть модальное окно 2</button>

		{{> test-modal}}
		{{> test-modal-2}}

		<div
			class="test__tab"
			x-show="open"
			x-transition.duration.350ms
		>
			Далеко-далеко за словесными горами в стране гласных и согласных живут
			рыбные тексты. Подпоясал, составитель дал назад текстов курсивных однажды,
			прямо большой по всей великий грустный то одна не! Заглавных первую
			рукопись ручеек повстречался.
		</div>
	</div>

	<div
		x-data="{counter: 0}"
		class="test__counter"
	>
		<button x-on:click="counter++">+</button>
		<span x-text="counter"></span>
		<button x-on:click="counter !== 0 ? counter-- : counter = 0 ">-</button>
	</div>

	<div
		class="skeleton"
		x-data="{ search: '' }"
	>
		<input
			type="text"
			x-model="search"
		/>

		Searching for:
		<span x-text="search"></span>
	</div>

	<ul
		class="test__list"
		x-data="{ colors:
   ['Red', 
   'Orange', 
   'Yellow'] }"
	>
		<template x-for="color in colors">
			<li x-text="color"></li>
		</template>
	</ul>

	<picture class="test__picture skeleton">
		<source srcet="./assets/images/hero/01.webp" />
		<img fetchpriority="hight"
			src="./assets/images/hero/01.jpg"
			alt=""
		/>
	</picture>

	<ul
		x-data="{cards: [{title: 'Заголовок'},
		{title: 'Заголовок 2'}, 
		{title: 'Заголовок 3'}]}"
		class="test__card-list"
	>
		<template x-for="card in cards">
			<li class="test__card-item">
				<a
					href="#"
					class="test__card"
				>
					<div class="test__card-picture skeleton">
						<picture>
							<source srcet="./assets/images/hero/01.webp" />
							<img
								loading="lazy"
								class="lazy"
								src="./assets/images/hero/01.jpg"
								alt=""
							/>
						</picture>
					</div>

					<h2
						x-text="card.title"
						class="skeleton"
					></h2>

					<p class="skeleton">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. At
						consequatur illum unde voluptas laudantium, expedita placeat
						repellat asperiores? Commodi facere eligendi vel fugiat error
						assumenda esse quaerat, quasi blanditiis sed.
					</p>
				</a>
			</li>
		</template>
	</ul>

	<p style="color: red">
		<svg>
			<use xlink:href="sprite.svg#logo"></use>
		</svg>
	</p>

	<p style="color: red">
		<svg>
			<use xlink:href="sprite.svg#diplomat"></use>
		</svg>
	</p>

	<h2>йоу</h2>

	<span class="triangle"></span>
	<br />
	<div class="square"></div>

	<div class="test-contents">
		<ul class="test-contents__list">
			<li class="test-contents__item">Тест</li>
			<li class="test-contents__item">Тест</li>
			<li class="test-contents__item">Тест</li>
			<li class="test-contents__item">Тест</li>
		</ul>
		<div class="test-contents__logo">
			<svg>
				<use xlink:href="sprite.svg#eye"></use>
			</svg>
		</div>
	</div>

	<button class="generate-pdf">Скачать PDF</button>

	<div id="pdf-template">
		<table width="100%">
			<tr>
				<td style="width: 68%; padding: 20px 0;">
					<div style="text-align: justify; font-size: 11pt;">Внимание! Оплата данного счета означает согласие с
						условиями
						поставки товара. Счет действителен в течение 5(пяти) банковских дней, не считая дня выписки счета.
						Уведомление
						об оплате обязательно, в противном случае НЕ ГАРАНТИРУЕТСЯ наличие товара на складе. Товар отпускается по
						факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.</div>
				</td>
				<td style="width: 32%; text-align: center; padding: 30px 0;"><img
						{{!-- src="../../assets/images/svg/logo.svg" --}}
						style="width: 70%;"
					></td>
			</tr>
		</table>
		<table
			width="100%"
			border="2"
			style="border-collapse: collapse; width: 100%;"
			cellpadding="2"
			cellspacing="2"
		>
			<tr style="">
				<td
					colspan="2"
					rowspan="2"
					style="min-height:13mm; width: 105mm;"
				>
					<table
						width="100%"
						border="0"
						cellpadding="0"
						cellspacing="0"
						style="height: 13mm;"
					>
						<tr>
							<td valign="top">
								<div>СТ-ПЕТЕРБУРГСКИЙ филиал ПАО "ПРОМСВЯЗЬБАНК"<br>Г.</div>
							</td>
						</tr>
						<tr>
							<td
								valign="bottom"
								style="height: 3mm;"
							>
								<div style="font-size:10pt;">Банк получателя</div>
							</td>
						</tr>
					</table>
				</td>
				<td style="min-height:7mm;height:auto; width: 25mm;">
					<div>БИK</div>
				</td>
				<td
					rowspan="2"
					style="vertical-align: top; width: 60mm;"
				>
					<div style=" height: 7mm; line-height: 7mm; vertical-align: middle;">044030555</div>
					<div>30101810000000000555</div>
				</td>
			</tr>
			<tr>
				<td style="width: 25mm;">
					<div>Сч. №</div>
				</td>
			</tr>
			<tr>
				<td style="min-height:6mm; height:auto; width: 50mm;">
					<div>ИНН <span class="template-user-inn"></span> </div>
				</td>
				<td style="min-height:6mm; height:auto; width: 55mm;">
					<div>КПП <span class="template-user-kpp"></span> </div>
				</td>
				<td
					rowspan="2"
					style="min-height:19mm; height:auto; vertical-align: top; width: 25mm;"
				>
					<div>Сч. № <span class="template-num"></span></div>
				</td>
				<td
					rowspan="2"
					style="min-height:19mm; height:auto; vertical-align: top; width: 60mm;"
				>
					<div>40702810306000008712</div>
				</td>
			</tr>
			<tr>
				<td
					colspan="2"
					style="min-height:13mm; height:auto;"
				>
					<table
						border="0"
						cellpadding="0"
						cellspacing="0"
						style="height: 13mm; width: 105mm;"
					>
						<tr>
							<td valign="top">
								<div>"<span class="template-company"></span>"</div>
							</td>
						</tr>
						<tr>
							<td
								valign="bottom"
								style="height: 3mm;"
							>
								<div style="font-size: 10pt;">Получатель</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br />
		<div style="font-weight: bold; font-size: 25pt; padding-left:5px;">
			Счет № <span class="template-num"></span> от <span class="template-date"></span></div>
		<br />
		<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
		<table width="100%">
			<tr>
				<td style="width: 30mm; vertical-align: top;">
					<div style=" padding-left:2px; ">Поставщик: </div>
				</td>
				<td>
					<div style="font-weight:bold;  padding-left:2px;">
						ООО "" ИНН , КПП ,<br>
						<span style="font-weight: normal;">, Российская Федерация, г. , Невский пр-кт, д. лит. ,<br> пом. , тел.:
							+7()
							, факс: +7() </span>
					</div>
				</td>
			</tr>
			<tr>
				<td style="width: 30mm; vertical-align: top;">
					<div style=" padding-left:2px;">Покупатель: </div>
				</td>
				<td>
					<div style="font-weight:bold;  padding-left:2px;">
						ИП , ИНН 7564644646, КПП 45465446456,<br><span style="font-weight: normal;">213245, Российская Федерация,
							г. ,
							пр-кт, д.151 лит. А,<br> пом. , тел.: +7() , факс: +7() </span> </div>
				</td>
			</tr>
		</table>
	</div>
</section>
