.test {
	$that: &;
	position: relative;

	button {
		transition: background-color 0.35s ease-out;
		margin: 10px 0;
		border: 1px solid $color_primary;
		padding: 6px 10px;

		&.--blue {
			background-color: blue;
		}

		&.--red {
			background-color: red;
		}
	}

	input {
		margin-top: 20px;
		color: $black;
	}

	&__tab {
		padding: 20px 0;
	}

	&__list {
		margin-top: 20px;

		li {
			margin: 10px;
		}
	}

	&__card-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__card-item {
		flex: 0 0 30%;
		padding: 20px;
		color: black;
		//@include visually-hidden;

		h2 {
			margin: 20px 0;
			font-weight: 900;
			font-size: 20px;
		}

	/* 	@include phone {
			flex: 1 1 100%;
		} */
	}

	&__card {
		display: block;
		background: white;
		padding: 10px;
		//@include background-gradient(white, blue, 90deg, 50%);

		@include click-area;

		h2 {
			@include ultra-wide {
				color: $black;
			}
			@include desktop {
				color: red;
			}
			@include laptop {
				color: $black;
			}
			@include laptop-s {
				color: red;
			}
			@include tablet {
				color: $black;
			}
			/* @include phone($only: true) {
				color: red;
			} */
			/* 	@include phone-s {
				color: green;
			} */
		}
	}

	&__card-picture {
		height: 202px;

		img {
			width: 100%;
			height: 100%;
			@include object-fit(cover, center);
		}
	}

	&__background {
		@include background(0);
	}

	.triangle {
		@include triangle(down, red, 14px, 1.5);
		// @include circle(red, 20px);
	}

	.square {
		width: 50px;
		height: 50px;
	}

	.test-contents {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__list {
			display: contents;
		}

		&__item {
			&:nth-child(n+ 3) {
				order: 3;
			}
		}

		&__logo {
			order: 2;
		}
	}
}
