@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Stengazeta';
  src: url('../fonts/Stengazeta.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebasneue_bold.woff2') format('woff2'),
    url('../fonts/bebasneue_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
} */
