.privacy-policy {
	$accent-color: #CD163F;

	margin-top: 30px;
	color: $color_text;

	@include laptop {
		margin-top: 50px;
	}

	h1 {
		color: $black;
		font-size: 20px;
		line-height: 110%;
		font-family: $font_title;
		letter-spacing: 0.72px;

		@include laptop {
			font-size: 28px;
			letter-spacing: 1.12px;
			margin-bottom: 20px;
		}
	}

	h2 {
		margin: 20px 0 10px;
		padding: 0;
		color: $black;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}

	a {
		color: $accent-color;
	}

	p {
		margin: 10px 0;
	}

	ol {
		counter-reset: item;
		margin: 0;
		padding: 0;
		line-height: 150%;
		list-style-type: none;

		> li {
			display: table;
			counter-increment: item;
			margin-bottom: 0.6em;

			&:before {
				display: table-cell;
				padding-right: 0.6em;
				content: counters(item, '.') '. ';
				font-weight: 600;
				font-size: 18px;
				line-height: 27px;
				white-space: nowrap;
			}

			ol {
				> li {
					margin: 0;

					&:before {
						content: counters(item, '.') ' ';
						font-weight: 400;

						font-size: 14px;
						line-height: 21px;
					}
				}
			}

			li + li {
				margin-top: 8px;
			}
		}
	}

	ul {
		margin-top: 14px;

		li {
			position: relative;
			padding-left: 14px;

			&::before {
				content: '' !important;
				@include circle($accent-color, 5px);
				position: absolute;
				top: 8px;
				left: 0;
			}
		}

		li + li {
			margin-top: 8px;
		}
	}

	table {
		border: 1px solid $accent-color;
		border-collapse: collapse;

		tr,
		td {
			border: 1px solid $accent-color;
		}

		td,
		th {
			padding: 12px;
		}
	}
}
