<button
	hidden
	id='cookies-trigger'
	popovertarget="cookie-alert"
	popovertargetaction="show"
>
</button>

<div
	id="cookie-alert"
	popover="manual"
	class="cookie-alert"
>
	Для повышения удобства сайта мы используем сооkiе. Оставаясь на сайте, вы
	соглашаетесь с
	<a
		href="/cookies/"
		target="_blank"
		class="cookie-alert__go"
	>политикой их применения</a>
	<br>
	<br>
	<button
		class="button cookie-alert__button-close"
		aria-label="Принять"
		popovertarget="cookie-alert"
		popovertargetaction="hide"
	>
		Принять
	</button>
</div>
