<div class="cookie-alert">
	<div class="cookie-alert__inner">
		<div class="cookie-alert__message">
			<p>
				Чтобы пользоваться нашим сайтом было удобно, мы используем файлы
				cookies. <a href="/cookies.html">Что это значит</a>
			</p>

			<div class="cookie-alert__accept">Понятно</div>
		</div>
	</div>
</div>
