.cookie-alert {
	inset: unset;
	right: 60px;
	bottom: 20px;
	box-shadow: 4px 16px 43px 0px rgba(4, 10, 32, 0.08);
	border: unset;
	background: #fff;
	padding: 25px 30px;
	width: 100%;
	max-width: 338px;
	color: #000;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;

	@include media-large-mobile {
		right: 20px;
		bottom: 76px;
		padding: 25px 30px 25px 15px;
		max-width: calc(100% - 40px);
	}

	&__button-close {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&__go {
		display: block;
		margin-top: 5px;
		color: #828282;
		font-weight: 700;
		font-size: 13px;
	}
}

#cookies-trigger {
	@include visually-hidden;
}
