{{#if href}}
<a
	href="{{href}}"
	{{#if
	blank}}target="_blank"
	{{/if}}
	{{#if
	download}}download{{/if}}
	class="button {{#if buttonClass}}{{buttonClass}}{{/if}}"
> <span class="button__inner">{{> @partial-block}}</span>

	<span class="loader">
		<svg
			width="30"
			height="30"
			class="loader__spinner spinner"
			viewBox="0 0 66 66"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle
				class="path"
				fill="none"
				stroke-width="6"
				stroke-linecap="round"
				cx="33"
				cy="33"
				r="30"
			></circle>
		</svg>
	</span>
</a>

{{else}}
<button
	{{#if
	dataModal}}
	data-modal="{{dataModal}}"
	{{/if}}
	{{#if
	dataSuccess}}
	data-success="{{dataSuccess}}"
	{{/if}}
	{{#if
	buttonType
	}}
	type="{{buttonType}}"
	{{else}}
	type="button"
	{{/if}}
	class="button {{#if buttonClass}}{{buttonClass}}{{/if}}"
>
	<span class="button__inner">{{> @partial-block}}</span>

	<span class="loader">
		<svg
			width="30"
			height="30"
			class="loader__spinner spinner"
			viewBox="0 0 66 66"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle
				class="path"
				fill="none"
				stroke-width="6"
				stroke-linecap="round"
				cx="33"
				cy="33"
				r="30"
			></circle>
		</svg>
	</span>
</button>
{{/if}}
