.toggle {
	display: inline-block;
	cursor: pointer;

	&__label {
		vertical-align: middle;
		margin-left: 12px;
		color: $black;
		font-family: $font_title;

		&:first-of-type {
			margin-right: 12px;
			margin-left: 0;
		}

		@include tablet {
			font-size: 13px;
			line-height: 18px;
		}
	}

	&__input {
		position: relative;
		vertical-align: middle;
		appearance: none;
		transition: background-color 0.25s ease-out;
		cursor: pointer;
		border-radius: 34px;
		background-color: $gray;
		padding: 3px;
		width: 40px;
		height: 20px;

		&:after {
			display: block;
			position: relative;
			left: 0;
			transition:
				left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
				padding 0.3s ease,
				margin 0.3s ease;
			box-sizing: content-box;
			border-radius: 28px;
			background-color: $white;
			width: 40%;
			height: 100%;
			content: '';
		}

		&:active {
			&::after {
				border-radius: 50% 40% 40% 50%;
				padding-right: 8px;
			}
		}

		&:checked {
			background-color: $red;

			&::after {
				left: 59.1%;
			}

			&:active {
				&::after {
					margin-left: -8px;
					border-radius: 40% 50% 50% 40%;
				}
			}
		}

		&:disabled {
			opacity: 0.3;

			&::after {
				background: $gray;
			}

			&:active:after {
				margin-left: 0;
				padding-right: 0;
			}
		}

		&:hover {
			background-color: rgba($red, 0.4);
		}
	}
}
