<div class="share {{#if shareClass}} {{shareClass}} {{/if}}">
	Поделиться
	<script src="https://yastatic.net/share2/share.js"></script>
	<script src="https://yastatic.net/share2/share.js"></script>
	<div
		class="ya-share2 share__socials-list"
		data-curtain
		data-shape="round"
		data-color-scheme="whiteblack"
		data-services="vkontakte,odnoklassniki,whatsapp,telegram"
	></div>
</div>
