#yandex-map,
.map {
	width: 100%;
	height: 100%;
	height: clamp(278px, calc(394 / 768 * 100vw), 394px);
	overflow: hidden;

	@include tablet {
		height: clamp(394px, calc(842 / 1920 * 100vw), 842px);
	}

	.ymaps-2-1-79-searchbox {
		display: none;
	}
}
