.modal {
	$that: &;

	$backdrop-color: hsla(240, 3%, 6%, 0.25);
	transform: translate3d(0, -80px, 0);
	outline: 0;
	border: 0;
	background: $white;
	padding: 0;
	min-width: 100vw;
	min-height: auto;

	@keyframes backdrop-animation {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes modal-animation {
		0% {
			transform: translate3d(0, -80px, 0);
			opacity: 0;
		}

		100% {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	@keyframes modal-animation-mobile {
		0% {
			transform: translate3d(0, 100%, 0);
			opacity: 0;
		}

		100% {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	&[open] {
		animation: modal-animation-mobile 0.25s ease-out forwards;
		margin-bottom: 0;

		&::backdrop {
			animation: backdrop-animation 0.35s ease-out forwards;
		}

		@include tablet {
			animation: modal-animation 0.25s ease-out forwards;
			margin-bottom: auto;
		}
	}

	&::backdrop {
		background: $backdrop-color;
	}

	@include tablet {
		width: 100%;
		min-width: auto;
		max-width: 854px;

		&.success-modal {
			max-width: 473px;
		}
	}

	&__inner {
		position: relative;
		padding: 20px 16px 30px;

		@include tablet {
			padding: 50px;
		}
	}

	&__close {
		@include click-area(30px);
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: 0;
		transition: color 0.25s ease-out;
		cursor: pointer;
		color: $gray !important;

		svg {
			max-width: 12px;
			max-height: 12px;
		}

		@media (hover: hover) {
			&:hover {
				color: $black !important;
			}
		}

		@include tablet {
			top: 20px;
			right: 20px;
			opacity: 1;
		}
	}
}
