.modal {
	$that: &;
	$backdrop-color: hsla(240, 3%, 6%, 0.25);
	transform: translate3d(0, -80px, 0);
	outline: 0;
	box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 40px 0px;
	border-radius: 0;
	background: $white;

	padding: 0;
	padding: 40px 30px;
	min-width: 100vw;
	min-height: 100%;

	@keyframes backdrop-animation {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes modal-animation {
		0% {
			transform: translate3d(0, -80px, 0);
			opacity: 0;
		}

		100% {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	&[open] {
		animation: modal-animation 0.25s ease-out forwards;

		&::backdrop {
			animation: backdrop-animation 0.35s ease-out forwards;
		}
	}

	&::backdrop {
		background: $backdrop-color;
	}

	@include laptop-s {
		padding: 40px 50px;
		width: 100%;
		min-width: auto;
		max-width: 854px;
		min-height: auto;
	}

	@include phone-s {
		padding: 40px 16px;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		color: #e9e9e9;

		svg {
			max-width: 14px;
			max-height: 14px;
		}
	}

	h2 {
		padding-bottom: 30px;
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		text-align: center;

		@include laptop-s {
			font-weight: 700;
			font-size: 26px;
			line-height: 35px;
		}
	}
}
