<dialog
	x-data
	x-ref="modal"
	class="modal {{#if class}}{{ class }}{{/if}}"
	data-modal="{{ open }}"
>
	<button
		x-on:click="$refs.modal.close()"
		aria-label="Закрыть диалогово окно"
		class="modal__close"
	>
		<svg width="14" height="14">
			<use xlink:href="#close"></use>
		</svg>
	</button>

	<div class="modal__content">
		{{> @partial-block}}
	</div>
</dialog>
