{{#>layout}}
<h1 style="text-align:center">Webpack Template</h1>
<br>
<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Сбить реторический ipsum моей
	пор дорогу что то прямо продолжил? Большой наш дал то. Имени выйти подзаголовок пустился повстречался первую!
</p>
{{/layout}}
