.layout {
	$that: &;

	&__header {
		.page_scrolled & {
			@include laptop-s {
				//transform: translate3d(0, -40px, 0);
			}
		}

		@include laptop-s {
			//transition: transform 0.4s 0.1s ease-out;
		}
	}

	&__content {
		padding-top: 52px;

		@include laptop-s {
			padding-top: 107px;
		}
	}
}
