<!DOCTYPE html>
<html lang="ru">
{{#if map}}
{{> head yandexMap="true"}}
{{else}}
{{> head}}
{{/if}}

<body class="preload">
  <div
    class="layout {{#if layoutClass}}{{layoutClass}}{{/if}}"
    style="	display: flex;
	flex-direction: column;
	min-height: 100vh;
  min-height: 100dvh; 
	overflow: clip;"
  >
    <div
      class="layout__header"
      style="position: fixed;
		top: 0;
		left: 0;
		flex: none;
		z-index: 100;
		width: 100%;"
    >{{>header}}</div>
    <div
      class="layout__content"
      style="flex: 1 0 auto;"
    >
      <main class="generic-page">
        {{> @partial-block}}
      </main>
    </div>
    <div class="layout__footer">{{>footer}}</div>
  </div>
  <div class="modals-content">
    {{!-- Компоненты модалок --}}
  </div>
</body>

</html>
