{{#if cart}}
<label class="checkbox-form {{ checkboxClass }}">
	<input
		class="checkbox-form__input"
		type="checkbox"
		name="#"
		id="#"
		value="#"
		checked
	/>
	<span class="checkbox-form__box">
		{{!-- <svg class="checkbox-form__mark">
			<use xlink:href="./assets/images/sprite.svg#check"></use>
		</svg> --}}
	</span>
</label>

{{else if set}}
<label class="checkbox-form {{ checkboxClass }}">
	<input
		class="checkbox-form__input"
		type="checkbox"
		name="#"
		id="#"
		value="#"
		checked
	/>
	<span class="checkbox-form__box">
		{{!-- <svg class="checkbox-form__mark">
			<use xlink:href="./assets/images/sprite.svg#check"></use>
		</svg> --}}
	</span>
</label>
{{else}}

<label
	{{#if
	amount}}
	data-amount="{{amount}}"
	{{/if}}
	class="checkbox-form {{ checkboxClass }}"
>
	<input
		class="checkbox-form__input"
		type="checkbox"
		name="{{ checkboxName }}"
		id="{{ checkboxName }}"
		value="{{ checkboxValue }}"
		{{#if
		required}}
		required
		{{/if}}
		{{#if
		checked}}
		checked
		{{/if}}
	/>
	<span class="checkbox-form__box">
		{{!-- <svg class="checkbox-form__mark">
			<use xlink:href="./assets/images/sprite.svg#check"></use>
		</svg> --}}
	</span>
	<span class="checkbox-form__text">{{> @partial-block}}</span>
</label>
{{/if}}
