.checkbox-form {
	$that: &;

	display: inline-flex;
	position: relative;
	justify-content: flex-start;
	align-items: flex-start;
	cursor: pointer;
	padding-left: 25px;
	min-height: 18px;
	color: $black;
	user-select: none;

	&.--agreement {
		text-align: left;
		font-size: 12px;
		
		&:last-child {
			margin-top: 20px;
		}
	}

	@include laptop {
		&:hover {
			&:not(.--agreement) {
				#{$that}__text {
					color: $hyperlink_hover;
				}
			}

			#{$that}__box {
				border-color: transparent;
				background-color: rgba($green, 0.4);

				&::after {
					transform: scale(0.8);
				}
			}
		}
	}

	&__input {
		@include visually-hidden();
	}

	&__box {
		display: flex;
		position: absolute;
		top: 3px;
		left: 0;
		justify-content: center;
		align-items: center;
		border: 1px solid $gray;
		border-radius: 5px;
		width: 15px;
		height: 15px;

		#{$that}__input:checked + & {
			border-color: $green;
			background-color: $green;

			&::after {
				opacity: 1;
			}
		}

		&::after {
			background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDkgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOC40MDUzMyAyLjIxOTY3QzguNjk4MjIgMi41MTI1NiA4LjY5ODIyIDIuOTg3NDQgOC40MDUzMyAzLjI4MDMzTDMuMzc1IDguMzEwNjZMMC41OTQ2NyA1LjUzMDMzQzAuMzAxNzc3IDUuMjM3NDQgMC4zMDE3NzcgNC43NjI1NiAwLjU5NDY3IDQuNDY5NjdDMC44ODc1NjMgNC4xNzY3OCAxLjM2MjQ0IDQuMTc2NzggMS42NTUzMyA0LjQ2OTY3TDMuMzc1IDYuMTg5MzRMNy4zNDQ2NyAyLjIxOTY3QzcuNjM3NTYgMS45MjY3OCA4LjExMjQ0IDEuOTI2NzggOC40MDUzMyAyLjIxOTY3WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
			background-position: center;
			background-repeat: no-repeat;
			width: 9px;
			height: 9px;
			content: '';
		}
	}

	&__text {
		line-height: 150%;

		@include tablet-xl {
			transition: $transition_color;
		}
	}
}
