<label
	data-placeholder="{{placeholder}}"
	class="input-form date-picker {{#if inputClass}} {{inputClass}} {{/if}}"
>
	<input
		required
		minlength="10"
		x-data
		x-mask="99.99.9999"
		placeholder=""
		autocomplete="off"
		pattern="^(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[0-2])\.(19|20)\d{2}$"
		{{#if
		required}}
		required
		{{/if}}
		{{#if
		name}}
		id="{{name}}"
		name="{{name}}"
		{{/if}}
		type="{{#if type}}{{type}}{{else}}text{{/if}}"
		aria-label="{{placeholder}}"
		class="input-form__input"
	/>

</label>
