.content {
	color: $gray_text;

	> *:last-child {
		margin-bottom: 0;
	}

	h1:not([class]) {
		color: $black;
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 105%;

		@include laptop {
			font-size: 28px;
		}

		@include desktop {
			font-size: 34px;
		}
	}

	h2:not([class]),
	h3:not([class]) {
		margin: 10px 0 5px;
		color: #000;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;

		&:has(+ p) {
			+ p {
				margin-top: 5px;

				@include tablet-xl {
					margin-top: 10px;
				}
			}
		}

		&:first-child {
			margin-top: 0;
		}

		@include tablet {
			margin: 15px 0 10px;
			font-weight: 700;
			font-size: 16px;
		}

		@include laptop {
			margin: 20px 0 10px;
		}

		@include desktop {
			font-size: 24px;
			line-height: 130%;
		}
	}

	h3:not([class]) {
		font-size: 14px;

		@include laptop {
			font-size: 16px;
			line-height: 130%;
		}
	}

	p {
		margin: 10px 0;
		line-height: 150%;

		&:first-child {
			margin-top: 0;
		}

		@include tablet {
			margin: 20px 0;
		}
	}

	ul:not([class]) {
		margin-left: 20px;
		line-height: 150%;
		list-style: disc;

		li {
			&::marker {
				margin-right: 2px;
			}
		}
	}

	ol:not([class]) {
		margin-left: 18px;
		line-height: 150%;
		list-style: decimal;
	}

	img:not([class]) {
		display: block;
		margin: 20px auto;

		@include desktop {
			margin: 40px auto;
		}
	}

	b {
		color: $black;
	}

	.mark {
		display: block;
		margin: 20px auto;
		background: $gray_4;
		padding: 15px 20px;

		@include tablet {
			padding: 20px 40px;
		}

		@include desktop {
			margin: 40px auto;
		}
	}
}
