<head>
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
	/>
	<meta
		name="format-detection"
		content="telephone=no"
	/>
	<meta
		name="description"
		content=""
	/>
	<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="/site.webmanifest" />
	<!-- /Favicon -->
	<title>{{ htmlWebpackPlugin.options.title }}</title>

	{{!--
	<link
		rel="preconnect"
		href="https://fonts.googleapis.com"
	>
	<link
		rel="preconnect"
		href="https://fonts.gstatic.com"
		crossorigin
	>
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
		rel="preload"
		as="font"
	> --}}

	<link
		rel="preload"
		href="/assets/fonts/CeraPro-Regular.woff2"
		as="font"
		type="font/woff2"
		crossorigin
	>
	{{#if yandexMap}}
	<script
		src="https://api-maps.yandex.ru/2.1/?apikey=55930e2b-c598-4ddf-8a0d-22064a3d1d6e&lang=ru_RU"
		type="text/javascript"
	></script>
	{{/if}}
</head>
