// Media (Mobile First)
$phone-xl: 480px;
$tablet: 768px;
$tablet-xl: 1024px;
$laptop: 1280px;
$desktop: 1440px;
$desktop-xl: 1921px;

@mixin phone-s {
	@media (max-width: 374px) {
		@content;
	}
}

@mixin phone-xl($only: false) {
	@if $only {
		@media (min-width: $phone-xl) and (max-width: calc($tablet - 1px )) {
			@content;
		}
	} @else {
		@media (min-width: $phone-xl) {
			@content;
		}
	}
}

@mixin tablet($only: false) {
	@if $only {
		@media (min-width: $tablet) and (max-width: calc($tablet-xl - 1px)) {
			@content;
		}
	} @else {
		@media (min-width: $tablet) {
			@content;
		}
	}
}

@mixin tablet-xl($only: false) {
	@if $only {
		@media (min-width: $tablet-xl) and (max-width: calc($laptop - 1px)) {
			@content;
		}
	} @else {
		@media (min-width: $tablet-xl) {
			@content;
		}
	}
}

@mixin laptop($only: false) {
	@if $only {
		@media (min-width: $laptop) and (max-width: calc($desktop - 1px)) {
			@content;
		}
	} @else {
		@media (min-width: $laptop) {
			@content;
		}
	}
}

@mixin desktop($only: false) {
	@if $only {
		@media (min-width: $desktop) and (max-width: calc($desktop-xl - 1px)) {
			@content;
		}
	} @else {
		@media (min-width: $desktop) {
			@content;
		}
	}
}

@mixin desktop-xl {
	@media (min-width: $desktop-xl) {
		@content;
	}
}
