@mixin visually-hidden() {
	position: absolute;
	opacity: 0;
	clip-path: inset(100%);
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
}

@mixin object-fit($fit: fill, $position: null) {
	object-fit: $fit;
	@if $position {
		object-position: $position;
	}
}

@mixin absolute-fit($fit: fill, $position: null) {
	@include object-fit($fit, $position);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin flex-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin absolute-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-fill {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

@mixin full-width() {
	position: relative;
	right: 50%;
	left: 50%;
	margin-right: -50vw;
	margin-left: -50vw;
	width: 100vw;
}

@mixin lazy-loaded {
	opacity: 0;
	transition: opacity 0.45s ease-in-out;

	&._is-loaded {
		opacity: 1;
	}
}

// @include circle(red, 20px);
@mixin circle($background, $size) {
	display: inline-block;
	border-radius: 50%;
	background-color: $background;
	width: $size;
	height: $size;
	overflow: hidden;
}

// @include triangle(down, red, 8px, 1.5);
@mixin triangle($direction, $color, $size: 8px, $ratio: 1) {
	display: block;
	width: 0;
	height: 0;

	@if $direction == down {
		border-top: $size solid $color;
		border-right: ($size * $ratio) solid transparent;
		border-left: ($size * $ratio) solid transparent;
	} @else if $direction == up {
		border-right: ($size * $ratio) solid transparent;
		border-bottom: $size solid $color;
		border-left: ($size * $ratio) solid transparent;
	} @else if $direction == right {
		border-top: ($size * $ratio) solid transparent;
		border-bottom: ($size * $ratio) solid transparent;
		border-left: $size solid $color;
	} @else if $direction == left {
		border-top: ($size * $ratio) solid transparent;
		border-right: $size solid $color;
		border-bottom: ($size * $ratio) solid transparent;
	}
}

@mixin max-lines($max-lines: 3) {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $max-lines;
}

@mixin overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// для корректной трансформации svg элементов
@mixin svg-path-origin {
	transform-box: fill-box;
	transform-origin: 50% 50%;
}

@mixin grayscale-hover {
	opacity: 0.4;
	filter: grayscale(1);
	transition:
		opacity 0.3s ease-out,
		filter 0.3s ease-out;

	&:hover {
		opacity: 1;
		filter: grayscale(0);
	}
}

@mixin hide-scrollbar {
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		display: none !important;
	}
}

@mixin click-area($width: 16px, $height: 16px) {
	position: relative;

	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% + $width);
		height: calc(100% + $height);
		content: '';
	}
}

// @include background-gradient (red, blue, 90deg, 90%)
@mixin background-gradient(
	$start-color,
	$end-color,
	$angle: null,
	$percentage: null
) {
	@if $angle {
		background: linear-gradient($angle, $start-color $percentage, $end-color);
	} @else {
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}

// @include scrollbar(black, red, pink)
@mixin scrollbar(
	$track-background-color: hsl(0deg 0% 0% / 5%),
	$thumb-background-color: hsl(0deg 0% 0% / 15%),
	$thumb-background-color-hover: hsl(0deg 0% 0% / 25%),
	$size: 0.5rem,
	$border-radius: 0.25rem
) {
	&::-webkit-scrollbar {
		inline-size: $size;
		block-size: $size;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $border-radius;
		background-color: $thumb-background-color;

		&:hover {
			background: $thumb-background-color-hover;
		}
	}

	&::-webkit-scrollbar-track {
		background: $track-background-color;
	}
}

@mixin swiper-lazy-fix {
	.swiper-slide:not(.swiper-slide-active):not(:first-child) {
		img {
			display: none;
		}
	}
}

@mixin background($opacity: 1) {
	position: absolute;
	opacity: $opacity;
	z-index: -1;
	inset: 0;
	width: 100%;
	height: 100%;

	picture,
	img,
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
