$white: #fff;
$black: #000;
$red: red;

$color_text: #161719;
$color_primary: #cd163f;
$color_secondary: #64686e;

$gray: #494950;
$gray_2: #858c9a;
$gray_3: #d2d8e2;
$gray_4: #f3f3f4;

$hyperlink: #003bdf;
$hyperlink_hover: #002ba2;

$box_shadow: 8px 8px 40px rgba(155, 163, 172, 0.15);

$font_text: 'Inter', sans-serif;
$font_title: 'Inter', serif;
