$white: #fff;
$black: #010101;
$red: red;

$color_text: #000;
$color_primary: #cd163f;
$color_primary_hover: #e30b3c;

$gray: #efefef;
$gray_text: #4d5154;
$gray_2: #91939a;
$gray_3: #d7d9de;
$gray_4: #f4f4f5;

$hyperlink: #cd163f;
$hyperlink_hover: #e30b3c;

$box_shadow: 0px 11px 33px 0px rgba(0, 0, 0, 0.08);
$box_shadow_mini: 3px 6px 19.6px 0px rgba(0, 0, 0, 0.08);

$font_text: 'Cera Pro', sans-serif;
$font_title: 'Cera Pro', sans-serif;
