<div class="page-pagination {{#if paginationClass}}{{paginationClass}}{{/if}}">
	<ul class="page-pagination__list">
		<li class="page-pagination__nav  page-pagination__nav--prev page-pagination__list-item">
			<a
				href="#"
				title="Предыдущая страница"
				class="page-pagination__go"
			>
				<svg
					width="14"
					height="14"
				>
					<use xlink:href="./assets/images/sprite.svg#arrow-right"></use>
				</svg>
			</a>
		</li>
		<li class="page-pagination__list-item">
			<a
				href="#"
				title="Текущая страница"
				class="page-pagination__go --is-active"
			><span>1</span></a>
		</li>
		<li class="page-pagination__list-item">
			<a
				href="#"
				title="Страница 2"
				class="page-pagination__go"
			><span>2</span></a>
		</li>
		<li class="page-pagination__list-item">
			<a
				href="#"
				title="Страница 3"
				class="page-pagination__go"
			><span>3</span></a>
		</li>
		<li class="page-pagination__list-item">
			<a
				href="#"
				title="Страница 4"
				class="page-pagination__go"
			><span>4</span></a>
		</li>
		<li class="page-pagination__list-item">
			<a
				href="#"
				title="Страница 5"
				class="page-pagination__go"
			><span>5</span></a>
		</li>

		<li class="page-pagination__nav page-pagination__list-item">
			<a
				href="#"
				title="Следующая страница"
				class="page-pagination__go"
			>
				<svg
					width="14"
					height="14"
				>
					<use xlink:href="./assets/images/sprite.svg#arrow-right"></use>
				</svg>
			</a>
		</li>
	</ul>
</div>
