*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

*,
*:active {

	-webkit-tap-highlight-color: $color_primary;
}

*:focus {
	outline: none;
}

html {
	line-height: 1;
	tab-size: 4;
	word-break: break-word;
	cursor: default;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

svg:not([fill]) {
	fill: currentColor;
}

table {
	border-collapse: collapse;
}

textarea {
	resize: vertical;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

iframe,
img,
input,
select,
textarea,
video {
	max-width: 100%;
	height: auto;
}

pre,
code,
kbd,
samp {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}

// OPTIONAL
blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

iframe {
	border: 0;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
	padding: 0;
	line-height: inherit;
	color: inherit;
}

button {
	background: transparent;
	border: 0;
}

button,
[role="button"] {
	cursor: pointer;
}
