html {
	min-width: 320px;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
	//scrollbar-gutter: stable;

	::selection {
		background: rgba(settings.$color_primary, 0.99);
		color: white;
	}

	::-moz-selection {
		background: settings.$color_primary;
		color: white;
	}

	@include media.laptop {
		@include mixins.scrollbar(gray, pink);
	}
}

body {
	background: settings.$white;
	color: settings.$color_text;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	font-family: settings.$font_text;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	&:has(dialog[open]),
	&:has(.fslightbox-full-dimension) {
		height: 100vh;
		height: 100dvh;
		overflow: hidden;
		overflow: clip;

		@media (hover: hover) {
			padding-right: 0.5rem;

			header {
				padding-right: 0.5rem;
			}
		}
	}
}

b {
	color: settings.$black;
}

a:not([class]) {
	color: settings.$hyperlink;

	@media (hover: hover) {
		transition: color 0.25s ease-out;

		&:hover {
			color: settings.$hyperlink_hover;
		}
	}
}

section {
	margin: 30px auto;

	&:first-of-type {
		margin: 0 auto 30px;

		@include media.tablet {
			margin: 0 auto 50px;
		}

		@include media.laptop {
			margin: 0 auto 80px;
		}

		@include media.desktop {
			margin: 0 auto 100px;
		}
	}

	@include media.tablet {
		margin: 50px 0;
	}

	@include media.laptop {
		margin: 80px auto;
	}

	@include media.desktop {
		margin: 100px 0;
	}
}

.fslightbox-container {
	//background: settings.$white !important;

	.fslightbox-slide-number-container {
		display: none !important;
	}
}

.disable-hover {
	pointer-events: none;
}

.will-change {
	will-change: transform;
}

[data-magnetic] {
	transform: translateZ(0);
	will-change: transform;
}

.swiper {
	--swiper-theme-color: #cd163f;

	opacity: 0;
	transition: opacity 0.25s ease-out;

	&.--is-loaded {
		opacity: 1;
	}
}

.--animate-in {
	@include media.desktop {
		transform: translate3d(0, 40px, 0);
		opacity: 0;
		will-change: transform;
	}
}

.--animate-in-list {
	> li {
		@include media.desktop {
			transform: translate3d(0, 40px, 0);
			will-change: transform;
		}
	}
}

[x-cloak] {
	display: none !important;
}

.fslightbox-container {
	video,
	iframe {
		aspect-ratio: 16 /9;
		height: auto !important;
	}
}

.--disabled,
[disabled] {
	opacity: 0.4;
	pointer-events: none;
	user-select: none;
}

.--desktop {
	@media (max-width: 1279px) {
		display: none;
	}
}

.--mobile {
	@include media.laptop {
		display: none;
	}
}
