html {
	min-width: 320px;
	scrollbar-gutter: stable;

	@include tablet {
		@include scrollbar();
	}
}

body {
	scrollbar-gutter: stable;
	background: $white;
	color: $color_text;
	font-weight: 500;
	font-size: 14px;
	line-height: 1;
	font-family: $font_text;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	&:has(dialog[open]) {
		overflow: hidden;

		@include tablet {
			padding-right: 0.5rem;
		}
	}
}

::selection {
	background: rgba($color_primary, 0.99);
	color: white;
}

::-moz-selection {
	background: $color_primary;
	color: white;
}

section {
	margin-bottom: 40px;

	@include laptop {
		margin-bottom: 50px;
	}

	@include phone-s {
		margin-bottom: 30px;
	}
}

.disable-hover {
	pointer-events: none;
}

.will-change {
	will-change: transform;
}

[data-magnetic] {
	transform: translateZ(0);
	will-change: transform;
}

.swiper {
	--swiper-theme-color: #e0f0ff;
	--swiper-pagination-color: #1070cf;
	--swiper-pagination-bullet-inactive-color: #e0f0ff;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-size: 5px;
	--swiper-pagination-bottom: 0;

	opacity: 0;
	transition: opacity 0.25s ease-out;

	&._is-loaded {
		opacity: 1;
	}
}

