html {
	min-width: 320px;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
	//scrollbar-gutter: stable;

	::selection {
		background: rgba($color_primary, 0.99);
		color: white;
	}

	::-moz-selection {
		background: $color_primary;
		color: white;
	}

	@include laptop {
		@include scrollbar(gray, pink);
	}
}

body {
	background: $white;
	color: $color_text;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	font-family: $font_text;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	&:has(dialog[open]),
	&:has(.fslightbox-full-dimension) {
		overflow: hidden;

		@include tablet-xl {
			padding-right: 0.5rem;

			header {
				padding-right: 0.5rem;
			}
		}
	}
}

a:not([class]) {
	color: $hyperlink;

	@media (hover: hover) {
		transition: color 0.25s ease-out;

		&:hover {
			color: $hyperlink_hover;
		}
	}
}

section {
	margin: 30px auto;

	&:first-of-type {
		margin: 0 auto 30px;

		@include tablet {
			margin: 0 auto 50px;
		}

		@include laptop {
			margin: 0 auto 80px;
		}

		@include desktop {
			margin: 0 auto 100px;
		}
	}

	@include tablet {
		margin: 50px 0;
	}

	@include laptop {
		margin: 80px auto;
	}

	@include desktop {
		margin: 100px 0;
	}
}

.fslightbox-container {
	//background: $white !important;

	.fslightbox-slide-number-container {
		display: none !important;
	}
}

.disable-hover {
	pointer-events: none;
}

.will-change {
	will-change: transform;
}

[data-magnetic] {
	transform: translateZ(0);
	will-change: transform;
}

.swiper {
	--swiper-theme-color: #cd163f;

	opacity: 0;
	transition: opacity 0.25s ease-out;

	&.--is-loaded {
		opacity: 1;
	}
}

.--animate-in {
	@include desktop {
		transform: translate3d(0, 40px, 0);
		opacity: 0;
		will-change: transform;
	}
}
