<ul class="{{#if class}} {{class}} {{/if}}  tag-list">
	<li class="tag-list__item">
		<a
			href="#"
			class="tag-list__tag --is-active"
		>
			Облако тэгов
		</a>
	</li>
	<li class="tag-list__item">
		<a
			href="#"
			class="tag-list__tag"
		>
			Облако тэгов
		</a>
	</li>
	<li class="tag-list__item">
		<a
			href="#"
			class="tag-list__tag"
		>
			Облако тэгов
		</a>
	</li>
	<li class="tag-list__item">
		<a
			href="#"
			class="tag-list__tag"
		>
			Облако тэгов
		</a>
	</li>
	<li class="tag-list__item">
		<a
			href="#"
			class="tag-list__tag"
		>
			Облако тэгов
		</a>
	</li>
	<li class="tag-list__item">
		<a
			href="#"
			class="tag-list__tag"
		>
			Облако тэгов
		</a>
	</li>
	<li class="tag-list__item">
		<a
			href="#"
			class="tag-list__tag"
		>
			Облако тэгов
		</a>
	</li>
</ul>
