.tag-list {
	$that: &;

	display: inline-flex;
	gap: 5px;
	overflow: auto;
	@extend %container-out;

	@include tablet-xl {
		flex-wrap: wrap;
	}

	&__item {
		flex: none;
	}

	&__clear-item {
		flex: none;

		button {
			padding-right: 12px;
			padding-left: 12px;
			height: 25px;
		}
	}

	&__tag {
		display: inline-block;
		transition:
			background-color 0.25s ease-out,
			color 0.25s ease-out;
		cursor: pointer;
		border-radius: 30px;
		background-color: $gray_3;
		padding: 4px 12px;
		color: $black;
		font-size: 12px;

		@media (hover: hover) {
			&:hover {
				background-color: $gray-hover;
			}
		}

		&:active,
		&.--is-active {
			background-color: $blue;
			color: $white;
		}
	}
}
