.breadcrumbs {
	$that: &;

	display: flex;
	margin: 10px auto;
	font-size: 12px;
	@extend %container;
	color: #B0B3B7;
	user-select: none;

	@include tablet-xl {
		margin: 15px auto 30px;
		font-size: 14px;
		line-height: 150%;
	}

	&__item {
		display: none;
		flex: none;

		&:first-child {
			display: block;
		}

		@include tablet-xl {
			display: block;

			&:last-child {
				pointer-events: none;
				color: $color_text;
			}
		}
	}

	&__link {
		&:before {
			content: '';
			--svg: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTYgMC45Nzk4N0wyLjk2NzY2IDRMNiA3LjAyMDEzTDUuMDE2MTcgOEwxIDRMNS4wMTYxNyAtNC4zMDA0NmUtMDhMNiAwLjk3OTg3WiIgZmlsbD0iI0JGQzVDQyIvPgo8L3N2Zz4K');
			display: inline-block;
			mask: var(--svg);
			margin-right: 5px;
			background-color: #B0B3B7;
			padding-right: 10px;
			width: 7px;
			height: 8px;
			mask-repeat: no-repeat;
			flex: none;

			@include tablet-xl {
				transform: rotate(180deg);

				#{$that}__item:first-child & {
					content: none;
				}
			}
		}

		span {
			@include tablet-xl {
				margin-right: 10px;
			}
		}

		@include tablet-xl {
			transition: color 0.25s ease-out;

			&:hover {
				color: $color_text;
			}
		}
	}
}
