.breadcrumbs {
	$that: &;

	display: flex;
	margin: 10px auto;
	font-size: 12px;
	@extend %container;
	color: #525358;
	user-select: none;

	@include tablet-xl {
		margin: 20px auto;
		font-size: 14px;
		line-height: 150%;
	}

	&__item {
		display: none;
		flex: none;

		&:nth-last-of-type(2) {
			display: block;
		}

		@include tablet-xl {
			display: block;

			&:last-child {
				pointer-events: none;
				color: $black;
			}
		}
	}

	&__link {
		&:before {
			content: '';
			--svg: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTYgMC45Nzk4N0wyLjk2NzY2IDRMNiA3LjAyMDEzTDUuMDE2MTcgOEwxIDRMNS4wMTYxNyAtNC4zMDA0NmUtMDhMNiAwLjk3OTg3WiIgZmlsbD0iI0JGQzVDQyIvPgo8L3N2Zz4K');
			display: inline-block;
			flex: none;
			mask: var(--svg);
			mask-repeat: no-repeat;
			margin-right: 5px;
			background-color: #a1a4b0;
			padding-right: 10px;
			width: 5px;
			height: 8px;

			@include tablet-xl {
				mask: unset;
				margin-right: 10px;
				border-radius: 50%;
				padding-right: 0;
				width: 4px;
				height: 4px;

				#{$that}__item:first-child & {
					content: none;
				}
			}
		}

		span {
			@include tablet-xl {
				margin-right: 10px;
			}
		}

		@include tablet-xl {
			display: flex;
			align-items: center;
			transition: color 0.25s ease-out;

			&:hover {
				color: $red;
			}
		}
	}
}
