$white: #fff;
$black: #000;

$color_text: #161719;
$color_primary: #11cc9b;
$color_secondary: #64686e;

$box_shadow: 8px 8px 40px rgba(155, 163, 172, 0.15);

$font_text: "Cera Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font_title: "Bebas", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
